.message {
  color: rgb(35, 146, 13);
  background: rgb(197, 195, 195);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.errorMessage {
  color: rgb(245, 16, 8);
  background: rgb(197, 195, 195);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.blogStyle {
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 1px;
  margin-bottom: 1px;
}
.eachBlogStyle {
  border: 1px solid black;
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
}

.ptr {
  cursor: pointer;
}
.hide {
  visibility: hidden;
}
